// ------------------------------
// mixin
// ------------------------------
@import "compass/css3";

@mixin cf(){
	&:after{
		content: '';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

//sprite common
$sprites: sprite-map("sprite/*.png", $spacing: 8px);
$sprites-img:sprite-url($sprites);
@mixin sprite_($name) {
	background-image: $sprites-img;
	background-repeat: no-repeat;
	display: block;
	width: image-width(sprite-file($sprites, $name));
	height: image-height(sprite-file($sprites, $name));
	$ypos: round(nth(sprite-position($sprites, $name), 2));
	background-position: 0 $ypos;
	@include background-size(image-width(sprite-path($sprites)));
}

// ------------------------------
// reset
// ------------------------------

@import 'normalize.scss';